!!!
%html
  %head
    %title
      Git Bubble!
  %body
    %div{:id => "canvas"}

    %script{:type => "text/javascript",
            :src  => "javascripts/raphael-min.js"}

    %script{:type => "text/javascript",
            :src  => "javascripts/plane.js"}

    %script{:type => "text/javascript",
            :src  => "javascripts/git-bubble.js"}
