!!!
%html
  %head
    %title
      Git Bubble!
  %body
    %div{:id => "canvas"}

    %script{:type => "text/javascript",
            :src  => "js/raphael-min.js"}

    %script{:type => "text/javascript",
            :src  => "js/git-bubble.js"}
